body {
    background-image: url('../assets/images/4882.jpg');
 
}
.navbar {
    background-color:#0B6FB2;
    color: #fff;
}
.navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size:24px;
}

.container {
    width: 920px;
    margin-left: 280px;
    height:670px;
}

.a {
    margin-top: 150px;
    color: #0B6FB2;
    font-size: 60px;
    font-weight: bold;
}
.b {
    float: left;
    color: #545151;
    font-size: 30PX;
    font-weight: bold;
}
.btn {
    width: 220px;
    height: 60px;
    background-color: #0B6FB2;
    color:white;
    font-weight: bold;
    border-radius: 25%;
}
.myTabs {
    float: right;
    margin-top: -200px;
    width: 270px;
    height: 300px;
    border: none;
    background-color: #fff;
}
.nav-tabs {
    margin-bottom: 10px;
}
.tab-pane {
    text-align: center;
}
.nav-item:hover {
    border: none;
}
.navitem {
    text-align: left;
    width: 150px;
    height: 40px;
    margin-left: 60px;

}

.input {
    border: 1px #0B6FB2 solid;
    border-radius: 25px;
    width: 95%;
    padding:5px;
    height: 40px;
    margin-top:10px;
    padding:5px;
}
.nav-link {
    text-align: center;
    background-color: #0B6FB2;
    color:#fff;
    height: 40px;
    font-weight: bold;
    border-radius: 0;
}


.nav-link:hover{
        color:#0B6FB2;
        background-color: #fff;
        border-radius: 3%;
    }

.submit {
    border: 1px #0B6FB2 solid;
    background-color: #0B6FB2;
    color: #fff;
    border-radius: 25px;
    width: 95%;
    padding:5px;
    height: 40px;
    margin-top:10px;
    padding:5px;
}